Repository SatelliteQE/nailgun, pull requests merged in 2022-11, with the labels that each got.

#855 Alligning ACP GHA with Robottelo
  .github/auto_assign.yml
  .github/workflows/auto_assignment.yaml
  .github/workflows/auto_cherry_pick.yml
Labels: Framework Changes, Critical, CherryPick

#856 [6.11.z] Alligning ACP GHA with Robottelo
  .github/auto_assign.yml
  .github/workflows/auto_assignment.yaml
  .github/workflows/auto_cherry_pick.yml
Labels: 6.11.z, No-CherryPick, Auto_Cherry_Picked

#858 updating the github actions across the nailgun
  .github/workflows/auto_assignment.yaml
  .github/workflows/auto_cherry_pick.yml
  .github/workflows/stale.yml
  .pre-commit-config.yaml
Labels: CherryPick

#859 [6.11.z] updating the github actions across the nailgun
  .github/workflows/auto_assignment.yaml
  .github/workflows/auto_cherry_pick.yml
  .github/workflows/stale.yml
  .pre-commit-config.yaml
Labels: 6.11.z, No-CherryPick, Auto_Cherry_Picked
